<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>C&W Story Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='ccp.ico') }}">
    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
</head>
<body>

<a href="{{ url_for('index') }}" class="back-button">← Back to Dashboard</a>

<div class="user-box">
  <span class="greeting">Hello, {{ current_user.name }}!</span>
    
  <form action="{{ url_for('logout') }}" method="get">
    <button type="submit">Logout</button>
  </form>
</div>

 <div style="display: flex; justify-content: center; align-items: center;">
    <h1 style="display: inline;"><a href="https://www.ccpstudentnews.org" style="font-family: 'Brush Script MT'; text-decoration: none; color: #222; font-size: 45px;">Cardinal and White&nbsp; </a></h1><h1 style="display: inline;">Admin Settings</h1>
    </div>

<div class="center-buttons">
  <a href="{{ url_for('manage_attendance') }}"><button type="button">Attendance</button></a>
  <a href="{{ url_for('manage_permissions') }}"><button type="button">Permissions</button></a>
  <a href="{{ url_for('manage_about') }}"><button type="button">About</button></a>
</div>

</body>
</html>